<div class="container">
    <div class="col-8"></div>
      <%= render 'shared/errors' %>
        <%= form_with(model: @article, class: "shadow p-3 mb-0 bg-info", local: true) do |f|%>
          <div class="form-group row">
              <%=f.label :title, class: "col-2 col-form-lable"%>
              <div class="col-8">
                <%=f.text_field :title, class: "form-control shadow rounded", placeholder: 'write here' %>
              </div>
          </div>

        <div class="form-group row">
              <%=f.label :description, class: "col-2 col-form-lable" %>
              <div class="col-8">
              <%=f.text_area :description, rows: 4, class: "form-control shadow rounded", placeholder: 'write here' %>
            </div>
        </div>


        <div class="form-group row justify-content-center">
          <%=f.submit class:'btn btn-outline-light btn-lg'%>
        </div>

        <%end %>

    </div>
</div>
<%= link_to 'return to articles ', articles_path, class: 'd-flex justify-content-center'%>