
<div class="container">
  <h1 class="text-center"><%= @article.title %></h1>
</div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-5 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body ce">
            <h6 class="card-subtitle mb-2 font-italic">by Erin Claudio</h6>
            <div class="card-text text-left"><%= simple_format(@article.description) %></div>
            <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
            <%= link_to "Delete", article_path(@article), class: "btn btn-outline-success", method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
          <div class="card-footer text_muted">
            <!--                  <small>Created<%#= article.created_id %></small>-->
            <small>Updated at <%= time_ago_in_words(@article.updated_at) %></small>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--<div class="container">-->
<!--  <p>-->
<!--    <%#= link_to 'Create new article', new_article_path %> |-->
    <%#= link_to 'Home page', root_path %>
<!--  </p>-->
<!--</div>-->
